<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">

				<{{dashCase name}}-component data-load-web-component="resources/components/{{pascalCase name}}/{{pascalCase name}}.js"></{{dashCase name}}-component>

			</div>
		</div>
	</section>
</div>
